body {
  color: white;
  background-color: black;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  .cities {
    width: 30%;
  }
  .city {
    border: 1px solid #ddd;
    color: white;
    text-decoration: none;
    padding: 8px;
    // text-align: center;
    vertical-align: middle;
  }
  .active-city {
    width: 70%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    h3 {
      margin-top: 0;
    }
  }
}

.list-group-item {
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}
